<ul class="planets">
  {{#each this.filteredPlanets as |planet|}}
    <li class="planet-row">
      {{planet.name}}

      <div>
        Moons:
        <MoonsList @planet={{planet}} />
      </div>

      <button
        data-test-duplicate={{planet.name}}
        type="button"
        {{on "click" (fn this.duplicatePlanet planet)}}
      >
        Duplicate
      </button>

      <button
        data-test-delete={{planet.name}}
        type="button"
        {{on "click" (fn this.deletePlanet planet)}}
      >
        Delete
      </button>
    </li>
  {{/each}}
</ul>

<div class="planets-count">
  {{this.filteredPlanets.length}}
</div>